menu "Example Configuration"

    config WIFI_SSID
        string
        default "VodafoneMobileWiFi-9ADC"
    
    config WIFI_PASSWORD
        string
        default "44SChscH"

    config WIFI_LED_PIN
        int 
        default 1
    
    config MQTT_LED_PIN
        int 
        default 2

    config COUNTER_PIN
        int 
        default 19
    
    config RTC_ALARM_PIN
        int
        default 20
    
    config I2C_SCL_PIN
        int
        default 40

    config I2C_SDA_PIN
        int
        default 39

    config LAST_KNOWN_UNIX
        int
        default 2
    
    config JWT_EXP
        int
        default 3600

    # config DEVICE_PRIVATE_KEY
    #     string "Device private key"
    #     default "ab:05:1e:33:36:d9:b0:1e:b2:00:1a:b2:da:1c:21:84:bf:ee:46:5e:3a:7d:3f:11:1f:73:a6:4b:bd:d7:5d:f6"
        
    config BROKER_URI
        string "Broker URL"
        default "mqtts://mqtt.eclipse.org:8883"
        help
            URL of an mqtt broker which this example connects to.

    config BROKER_CERTIFICATE_OVERRIDE
        string "Broker certificate override"
        default ""
        help
            Please leave empty if broker certificate included from a textfile; otherwise fill in a base64 part of PEM
            format certificate

    config BROKER_CERTIFICATE_OVERRIDDEN
        bool
        default y if BROKER_CERTIFICATE_OVERRIDE != ""

endmenu
